In [1]:
import pandas as pd
import sqlite3

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.26.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.32)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
Installing collected packages: ipython-genutils, sqlparse, prettytable, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.11.0 sqlparse-0.5.1

In [3]:
df= pd.DataFrame({'name': ['Juan', 'Victoria', 'Mary'], 
                  'age': [23,34,43], 
                  'city': ['Miami', 'Buenos Aires','Santiago']})

df

       name  age          city
0      Juan   23         Miami
1  Victoria   34  Buenos Aires
2      Mary   43      Santiago

In [4]:
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [5]:
df.to_sql('people', cnn)

3

In [6]:
%load_ext sql

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql sqlite:///jupyter_sql_tutorial.db

In [9]:
%%sql
SELECT *
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Juan', 23, 'Miami'),
 (1, 'Victoria', 34, 'Buenos Aires'),
 (2, 'Mary', 43, 'Santiago')]

In [10]:
%%sql
SELECT count(*)
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3,)]

In [11]:
%%sql
SELECT sum(age) as 'age_sum'
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(100,)]

In [56]:
import sqlite3

conn = sqlite3.connect('fix_data.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS fix_messages (
    MsgType  TEXT,
    MsgSeqNum INTEGER,
    SenderCompID TEXT,
    TargetCompID TEXT,
    SendingTime TEXT,
    OrderID TEXT,
    Side INTEGER,
    Symbol TEXT,
    Price REAL,
    Quantity INTEGER
)
''')

conn.commit()

In [57]:
fix_messages = [
    "8=FIX.4.2|9=123|35=3|34=4|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:03:00|35=3|34=5|49=JOHN_SENDER|56=MIKE_TARGET|37=ORD12345|54=2|10=145|",
"8=FIX.4.2|9=108|35=4|34=6|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:04:00|36=105|10=187|",
"8=FIX.4.2|9=107|35=5|34=7|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:05:00|10=164|",
"8=FIX.4.2|9=128|35=6|34=8|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:06:00|55=GOOGL|54=1|10=132|",
"8=FIX.4.2|9=146|35=7|34=9|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:07:00|55=AAPL|54=1|11=ORD456|10=202|",
"8=FIX.4.2|9=140|35=8|34=10|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:08:00|11=ORD789|54=2|55=MSFT|32=150|31=3200|10=123|",
"8=FIX.4.2|9=124|35=F|34=11|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:09:00|11=ORD123|54=2|41=ORIG789|10=146|",
"8=FIX.4.2|9=132|35=G|34=12|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:10:00|11=ORD123|54=2|41=ORIG789|39=8|10=154|",
"8=FIX.4.2|9=134|35=D|34=13|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:11:00|11=ORD234|54=1|55=TSLA|44=645.75|38=200|10=158|",
"8=FIX.4.2|9=144|35=8|34=14|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:12:00|11=ORD234|54=1|55=TSLA|32=100|31=645.75|10=176|",
"8=FIX.4.2|9=130|35=G|34=15|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:13:00|11=ORD234|54=1|44=655.00|38=150|10=189|",
"8=FIX.4.2|9=118|35=H|34=16|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:14:00|11=ORD345|54=1|55=AMZN|44=3100.00|38=50|10=200|",
"8=FIX.4.2|9=113|35=J|34=17|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:15:00|11=ORD456|54=2|55=MSFT|32=200|31=2200.00|10=189|",
"8=FIX.4.2|9=127|35=K|34=18|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:16:00|11=ORD567|54=1|55=GOOGL|32=300|31=2900.00|10=210|",
"8=FIX.4.2|9=119|35=L|34=19|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:17:00|11=ORD678|54=2|55=GOOGL|44=2900.00|38=100|10=232|",
"8=FIX.4.2|9=121|35=M|34=20|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:18:00|11=ORD789|54=1|55=AAPL|32=150|31=1500.00|10=245|",
"8=FIX.4.2|9=125|35=N|34=21|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:19:00|11=ORD890|54=2|55=AMZN|32=200|31=3100.00|10=258|",
"8=FIX.4.2|9=120|35=O|34=22|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:20:00|11=ORD901|54=1|55=TSLA|44=655.00|38=150|10=269|",
"8=FIX.4.2|9=133|35=P|34=23|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:21:00|11=ORD012|54=2|55=AMZN|32=100|31=3200.00|10=280|",
"8=FIX.4.2|9=126|35=Q|34=24|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:22:00|11=ORD123|54=1|55=AAPL|44=150.00|38=200|10=291|",
"8=FIX.4.2|9=145|35=R|34=25|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:23:00|11=ORD234|54=2|55=MSFT|32=200|31=2200.00|10=302|",
"8=FIX.4.2|9=129|35=S|34=26|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:24:00|11=ORD345|54=1|55=GOOGL|44=3100.00|38=50|10=315|",
"8=FIX.4.2|9=139|35=T|34=27|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:25:00|11=ORD456|54=2|55=GOOGL|32=300|31=2900.00|10=328|",
"8=FIX.4.2|9=142|35=U|34=28|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:26:00|11=ORD567|54=1|55=AAPL|32=150|31=1500.00|10=339|",
"8=FIX.4.2|9=147|35=V|34=29|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:27:00|11=ORD678|54=2|55=AMZN|32=200|31=3100.00|10=352|",
"8=FIX.4.2|9=148|35=W|34=30|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:28:00|11=ORD789|54=1|55=TSLA|44=655.00|38=150|10=365|",
"8=FIX.4.2|9=149|35=X|34=31|49=JOHN_SENDER|56=MIKE_TARGET|52=20240826-10:29:00|"

    
]

for message in fix_messages:
    fields = dict(field.split('=') for field in message.split('|') if '=' in field)
    
    cursor.execute('''
        INSERT INTO fix_messages (
            MsgType, MsgSeqNum, SenderCompID, TargetCompID, SendingTime, OrderID, Side, Symbol, Price, Quantity
        ) VALUES (
            :MsgType, :MsgSeqNum, :SenderCompID, :TargetCompID, :SendingTime, :OrderID, :Side, :Symbol, :Price, :Quantity
        )
    ''', {
        'MsgType': fields.get('35'),
        'MsgSeqNum': fields.get('34'),
        'SenderCompID': fields.get('49'),
        'TargetCompID': fields.get('56'),
        'SendingTime': fields.get('52'),
        'OrderID': fields.get('11'),
        'Side': fields.get('54'),
        'Symbol': fields.get('55'),
        'Price': fields.get('44'),
        'Quantity': fields.get('38'),
    })

conn.commit()

In [58]:
import pandas as pd

df = pd.read_sql_query('SELECT * FROM fix_messages', conn)

conn.close()
df

,MsgType,MsgSeqNum,SenderCompID,TargetCompID,SendingTime,OrderID,Side,Symbol,Price,Quantity
0,0,1,JOHN_SENDER,MIKE_TARGET,20240826-10:00:00,None,NaN,None,NaN,NaN
1,1,2,JOHN_SENDER,MIKE_TARGET,20240826-10:01:00,None,NaN,None,NaN,NaN
2,2,3,JOHN_SENDER,MIKE_TARGET,20240826-10:02:00,None,NaN,None,NaN,NaN
3,0,1,JOHN_SENDER,MIKE_TARGET,20240826-10:00:00,None,NaN,None,NaN,NaN
4,1,2,JOHN_SENDER,MIKE_TARGET,20240826-10:01:00,None,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
61,T,27,JOHN_SENDER,MIKE_TARGET,20240826-10:25:00,ORD456,2.0,GOOGL,NaN,NaN
62,U,28,JOHN_SENDER,MIKE_TARGET,20240826-10:26:00,ORD567,1.0,AAPL,NaN,NaN
63,V,29,JOHN_SENDER,MIKE_TARGET,20240826-10:27:00,ORD678,2.0,AMZN,NaN,NaN
64,W,30,JOHN_SENDER,MIKE_TARGET,20240826-10:28:00,ORD789,1.0,TSLA,655.0,150.0
65,X,31,JOHN_SENDER,MIKE_TARGET,20240826-10:29:00,None,NaN,None,NaN,NaN