In [32]:
import pandas as pd
import mysql.connector

In [33]:
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\lenovo\appdata\roaming\python\python39\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython-sql) (2.0.33)
Requirement already satisfied: prettytable in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: sqlparse in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: ipython-genutils in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.10.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: matplotlib-inline in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (5.14.2)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: exceptiongroup in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: stack-data in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: decorator in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\lenovo\appdata\roaming\python\python39\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)

WARNING: You are using pip version 22.0.4; however, version 24.2 is available.
You should consider upgrading via the 'C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python39_64\python.exe -m pip install --upgrade pip' command.

In [34]:
conn = mysql.connector.connect(host="localhost",
                              user = "root",
                              password = "W7301@jqir#",
                              database = "fixmessages")

In [35]:
query = "select * from fixmessages.record "

In [38]:
df = pd.read_sql(query,conn)
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2848\354633662.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

,msg_type,msg_seq_num,sender_comp_id,target_comp_id,sending_time,order_id,symbol,side,price,order_qty,execution_qty,execution_price,orig_cl_ord_id,body_length,checksum,raw_message
0,0,1,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:00:00,None,None,None,NaN,NaN,NaN,NaN,None,106.0,128.0,8=FIX.4.2|9=106|35=0|34=1|49=JOHN_SENDER|56=MI...
1,0,1,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:00:00,None,None,None,NaN,NaN,NaN,NaN,None,106.0,128.0,8=FIX.4.2|9=106|35=0|34=1|49=JOHN_SENDER|56=MI...
2,0,1,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:00:00,None,None,None,NaN,NaN,NaN,NaN,None,106.0,128.0,8=FIX.4.2|9=106|35=0|34=1|49=JOHN_SENDER|56=MI...
3,0,1,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:00:00,None,None,None,NaN,NaN,NaN,NaN,None,106.0,128.0,8=FIX.4.2|9=106|35=0|34=1|49=JOHN_SENDER|56=MI...
4,1,2,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:01:00,None,None,None,NaN,NaN,NaN,NaN,None,108.0,207.0,8=FIX.4.2|9=108|35=1|34=2|49=JOHN_SENDER|56=MI...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,T,27,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:25:00,ORD456,GOOGL,2,300.0,2900.0,NaN,NaN,None,139.0,328.0,8=FIX.4.2|9=139|35=T|34=27|49=JOHN_SENDER|56=M...
95,U,28,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:26:00,ORD567,AAPL,1,150.0,1500.0,NaN,NaN,None,142.0,339.0,8=FIX.4.2|9=142|35=U|34=28|49=JOHN_SENDER|56=M...
96,V,29,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:27:00,ORD678,AMZN,2,200.0,3100.0,NaN,NaN,None,147.0,352.0,8=FIX.4.2|9=147|35=V|34=29|49=JOHN_SENDER|56=M...
97,W,30,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:28:00,ORD789,TSLA,1,150.0,655.0,NaN,NaN,None,148.0,365.0,8=FIX.4.2|9=148|35=W|34=30|49=JOHN_SENDER|56=M...
98,X,31,JOHN_SENDER,MIKE_TARGET,2024-08-26 10:29:00,None,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN,8=FIX.4.2|9=149|35=X|34=31|49=JOHN_SENDER|56=M...